.Search {
    @apply flex w-1/2 relative;
    > input {
        @apply w-full focus:bg-white text-lg border-0 rounded-3xl focus:text-black focus:outline-0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
        border-radius: 35px;
        border: 0;
        padding: 8px 26px;
        color: #fff;
        width: 100%;
    }
    > button {
        @apply absolute right-10 w-6 h-6 bottom-1/2 block translate-y-1/2 border-0 cursor-default;
        background: url('../../assets/icons/search.svg') no-repeat;
    }
}

@media (max-width: 995px) {
    .Search {
        @apply w-full;
    }
}

@media (max-width: 505px) {
    .Search {
        @apply w-full;
        > input {
            @apply py-[2px];
        }
    }
}
