.pageWrapper {
    @apply flex w-full pl-24 pr-24 pb-24 flex-wrap mt-24;
    &Left {
        @apply w-1/3;
        img {
            @apply rounded-2xl w-[500px] h-[600px] object-cover;
            box-shadow: 0 6px 6px #050505;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            z-index: 5;
            &::before {
            }
        }
        ul {
            @apply flex text-white flex-col w-full mt-24;
            li {
                @apply flex p-2;
                p {
                    @apply w-1/4;
                }
                span {
                    @apply whitespace-nowrap text-ellipsis overflow-hidden w-2/4 text-[#e58e27];
                }
            }
        }
    }
    &Right {
        @apply w-2/3;
        &Header {
            @apply flex justify-between;
            h2 {
                @apply text-white font-semibold text-6xl;
            }
            .Favourite {
                svg {
                    path {
                        transition: all 0.2s ease-in;
                    }
                    &:hover {
                        path {
                            fill: #e58e27;
                        }
                    }
                }
            }
            .ActiveFav {
                > svg {
                    > path {
                        fill: #e58e27;
                    }
                }
            }
        }
        &Body {
            @apply mt-12 text-xl;
            p {
                @apply text-white;
            }
            .price {
                @apply mt-6 flex justify-between w-1/2 items-center;
                button {
                    @apply w-1/4 text-lg;
                }
                span {
                    @apply text-2xl text-white font-medium w-1/2;
                }
            }
            .SubInfo {
                @apply flex text-white w-2/3 justify-between mt-12;
                > li {
                    @apply flex flex-col;
                    > b {
                        @apply text-[#e58e27];
                    }
                }
            }
        }
        &Content {
            @apply w-full;
            .ScreenShots {
                @apply mt-12 w-full h-full;
                h3 {
                    @apply text-[#e27e58] text-2xl mb-10 font-bold mt-48;
                }
                img {
                    @apply rounded-2xl;
                }
            }
        }
    }
}

@media (max-width: 1740px) {
    .pageWrapper {
        &Left {
            > img {
                @apply w-[400px] h-[500px];
            }
        }
    }
}

@media (max-width: 1550px) {
    .pageWrapper {
        &Left {
            @apply pr-6;
        }
        &Right {
            @apply w-2/3;
            &Header {
                h2 {
                    @apply text-3xl;
                }
            }
            &Body {
                @apply text-lg;
                .price {
                    button {
                        @apply w-1/4 text-sm;
                    }
                    span {
                        @apply text-lg;
                    }
                }
                .SubInfo {
                    @apply text-sm;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .pageWrapper {
        @apply items-center;
        &Left {
            @apply w-full pr-0;
            img {
                @apply w-full h-full;
            }
            ul {
                li {
                    p {
                        @apply w-2/4;
                    }
                }
            }
        }
        &Right {
            @apply w-full;
            &Header {
                @apply w-full mt-12;
                h2 {
                    @apply text-3xl;
                }
            }
            &Body {
                @apply text-lg;
                .price {
                    @apply w-full;
                    button {
                        @apply w-2/4 text-sm;
                    }
                    span {
                        @apply text-lg w-1/4;
                    }
                }
                .SubInfo {
                    @apply text-sm w-full;
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .pageWrapper {
        @apply pr-4 pl-4 pb-12;
        &Right {
            @apply w-full;
            &Header {
                @apply w-full mt-12;
                h2 {
                    @apply text-2xl;
                }
            }
            &Body {
                .SubInfo {
                    @apply text-sm w-full flex-wrap;
                    > li {
                        @apply mt-6;
                    }
                }
            }
        }
    }
}
