.pageWrapper {
    @apply flex w-full pl-24 pr-24 pb-24 flex-wrap mt-24;
    &Left {
        @apply w-1/3;
        img {
            @apply rounded-2xl w-[500px] h-[600px] object-cover;
            box-shadow: 0 6px 6px #050505;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            z-index: 5;
            &::before {
            }
        }
        ul {
            @apply flex text-white flex-col w-full mt-24;
            li {
                @apply flex p-2;
                p {
                    @apply w-1/2;
                }
                span {
                    @apply whitespace-nowrap text-ellipsis overflow-hidden w-1/2 text-[#e58e27];
                }
            }
        }
    }
    &Right {
        @apply w-2/3;
        &Header {
            @apply flex justify-between;
            h2 {
                @apply text-white font-semibold text-6xl;
            }
            .Favourite {
                svg {
                    path {
                        transition: all 0.2s ease-in;
                    }
                    &:hover {
                        path {
                            fill: #e58e27;
                        }
                    }
                }
            }
            .ActiveFav {
                > svg {
                    > path {
                        fill: #e58e27;
                    }
                }
            }
        }
        &Body {
            @apply mt-12 text-xl;
            p {
                @apply text-white;
            }
            .price {
                @apply mt-6 flex justify-between w-1/2 items-center;
                button {
                    @apply w-1/4;
                }
                span {
                    @apply text-2xl text-white font-medium w-1/2;
                }
            }
        }
        &Content {
            @apply w-full;
        }
    }
}
