.slider {
    @apply select-none relative;
    .window {
        @apply flex  justify-start overflow-hidden w-full;
    }
    .slides {
        @apply flex transition transition-transform duration-1000;

        &:hover {
            article {
                @apply opacity-100 translate-x-0;
            }
        }
    }
    .buttons {
        @apply absolute;
        > button {
            @apply bg-black p-1 min-h-full bg-opacity-20 cursor-pointer hover:bg-opacity-80 transition absolute;
            &:nth-last-child(1) {
                right: 0;
                top: 0;
            }
            svg {
                polyline {
                    stroke: white;
                }
            }
        }
    }
    .Single {
        @apply top-1/2 w-full;
    }
    .Multiple {
        @apply absolute -top-16 w-1/12 right-0;
        button {
            @apply rounded-2xl;
        }
    }
}
